/* . is for classes and # is for html ids */



#loginform{
  bottom: 50%;
  left: 17%;
  position: absolute;
  scale: 125%;
  text-align: center;
}

#signin{
  position: absolute;
  bottom: -5%;
  left: -1%;
  width: 800px;
  height: 1000px; 
  scale: 90%;
  display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

body {
    background-color: rgb(187, 187, 5);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition : background-color 0.3s;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.block {
    display: block;
    padding: 8px;
    background-color: rgb(85, 255, 0);
    margin: 10px;
}

#budget {
font-size: 24px;
background-color: gold;
}

