<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
</head>
<body id="budget">
    {% for person in people %}
    <h1>Welcome, {{ person['username'] }}</h1>
    {% endfor %}
    <h1>Your Current Balance</h1>
    <ul>
        {% for person in people %}
            <li>{{ person['username'] }}: {{ person['budget'] }}</li>  <!-- Adjust column names -->
        {% endfor %}
    </ul>
        
</body>
</html>