<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BudgetBuddy</title>
    <link href="styles/styles.css" rel="stylesheet"/>
</head>
<body>
    <nav>
      <ul>
        <a href="budget/budget.html"><li>Budget</li></a>
        <a href="spending/spending.html"><li>Manage Spending</li></a>
        <a href="credit/credit.html"><li>Credit Score</li></a>
        <a href="saving/saving.html"><li>Saving Goals</li></a>
      </ul>
    </nav>
  <script scr=""></script>
</body>
</html>