<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BudgetBuddy</title>
</head>
<body>
  <h1>WELCOME TO BudgetBuddy!</h1>
  <img src="../static/imgs/welcome.png" id="welcome" width="800" height="600">
  <nav>
    <ul class="nav-list">
      <li><a href="login">Log-in</a></li>
      <li><a href="register">Register</a></li>
    </ul>
  </nav>

</body>
</html>