<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="../static/style.css">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Sign In</title>
</head>
<body style="background-image: url('../static/imgs/wall.png'); 
             background-repeat: repeat; 
             background-size: 140px;
             background-color: white;">




<img src="../static/imgs/signin.png" id="signin">
<div id="loginform">
    <h1>Sign in!</h1>
    <form action="" method="POST">
        <label id="user">Username</label>
        <input type="text" id="user" name="user" required><br>
        <label id="password">Password</label>
        <input type="text" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form> 
</div>

{% if success %}
<div style="position: absolute; background-color: rgb(187, 187, 5)">
    <h1>SUCCESS!</h1>
    
    <!-- redirect the user to /budget after 5 seconds -->
    <script> type="text/javascript"
        setTimeout( () => {
            window.location.href = "{{ url_for('budget') }}";
        }, 3000)
    </script>

</div>

{% endif %}


{% if errors %}
<div style="position: absolute; background-color: rgb(187, 187, 5)">
    <h1>ERROR:</h1>
    {% for error in errors %}
    <p>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}

</body>
</html>